# ==================== Configuración General ====================
PORT=5000
NODE_ENV=development

# ==================== MongoDB ====================
MONGODB_URI=mongodb://127.0.0.1:27017/mern-stack-users
# MONGODB_URI=tu_conexion_de_mongodb_atlas_aqui

# ==================== CORS (para conectar Frontend con Backend) ====================
CORS_ORIGIN=http://localhost:5173

# ==================== Opcionales ====================
# Agrega aquí otras variables que necesites en el futuro